<!DOCTYPE html>
<html lang="en">
    <body>
        <footer>
            {% if app.user %}
                <div class="ml-1 mt-5">
                    <button><a href="{{ path('logout_user') }}">Logout</a></button>
                </div>
            {% endif %}
        </footer>
    </body>
</html>