<!DOCTYPE html>
<html lang="en">
    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <button class="navbar-brand pr-1">Login</button>
                <button class="navbar-brand pr-1">Register</button>
            </nav>
        </div>
    </body>
</html>
