<!DOCTYPE html>
<html lang="en">
    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <button class="navbar-brand pr-1"><a href="{{ path('login_user') }}" style="text-decoration: none; color: black">Login</a></button>
                <button class="navbar-brand pr-1"><a href="{{ path('register') }}" style="text-decoration: none; color: black">Register</a></button>
            </nav>
        </div>
    </body>
</html>
