{% extends 'base.html.twig' %}

{% block title %}User Records{% endblock %}

{% block body %}
    <ul>
        {% for user in users %}
            <li><a href="{{ path('show_records', {'id': user.getId}) }}">{{ user.getUsername }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}