{% extends 'base.html.twig' %}

{% block title %}User Records{% endblock %}

{% block body %}
    <h1 class="m-4">LIST OF ALL USERS</h1>

    <ul class="list-group col-sm-5 ml-2">
        {% for user in users %}
            <li class="list-group-item"><a href="{{ path('show_records', {'userId': user.getId}) }}">{{ user.getUsername }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}